.metaball_item {
    background: #000;
}
.center {
    position: absolute;
}

.ball {
    position: relative;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    filter: blur(15px);
}

@for $i from 1 through 8 {
    .blubb-#{$i} {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        transform: rotate((random(300)) + deg);

        &:after {
            position: absolute;
            display: block;
            content: "";
            width: 50px;
            height: 50px;
            background: #fff;
            border-radius: 50%;
            transform-origin: (40 - $i * 3) + px (40 - $i * 3) + px;
            animation: rotate
                (2.5 + $i / 5) +
                s
                ease-in-out
                ($i / 5) +
                s
                infinite;
            filter: blur(5px);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    to {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }
}
