$drop-color: #7fc1f9;
.rainynight {
    height: 100%;
    width: 100%;
    background: oli ve;
    display: flex;
    flex-direction: column;
    .animation {
        position: relative;
        flex: 0 0 80%;
        overflow: hidden;
        background: #1a2238;
        .moon {
            position: absolute;
            width: 67px;
            height: 67px;
            top: 45px;
            left: 55px;
            border-radius: 50px;
            background: #f6edbd;
            overflow: hidden;
            box-shadow: 0 0 10px 0 #f6edbd;
            .crater-1 {
                position: absolute;
                width: 11px;
                height: 11px;
                top: 9px;
                left: 28px;
                border-radius: 10px;
                background: #ece1a8;
            }
            .crater-2 {
                @extend .crater-1;
                top: 12px;
                left: 0;
            }

            .crater-3 {
                @extend .crater-1;
                top: 56px;
                left: 10px;
            }

            .crater-4 {
                @extend .crater-1;
                width: 6px;
                height: 6px;
                top: 37px;
                left: 49px;
            }

            .crater-5 {
                @extend .crater-4;
                top: 24px;
                left: 61px;
            }

            .crater-6 {
                @extend .crater-4;
                top: 55px;
                left: 33px;
            }

            .crater-7 {
                @extend .crater-4;
                top: 17px;
                left: 46px;
            }

            .crater-8 {
                @extend .crater-4;
                top: 28px;
                left: 27px;
            }

            .crater-9 {
                @extend .crater-4;
                top: 39px;
                left: 17px;
            }

            .crater-10 {
                @extend .crater-1;
                width: 4px;
                height: 4px;
                top: 25px;
                left: 15px;
            }

            .crater-11 {
                @extend .crater-10;
                top: 37px;
                left: 37px;
            }
            animation: moon-rise 1s ease-in-out;
        }
        .hill-1 {
            position: absolute;
            background: #26314f;
            top: 200px;
            left: -57px;
            border-radius: 50%;
            width: 337px;
            height: 281px;
        }
        .hill-2 {
            @extend .hill-1;
            top: 197px;
            left: 177px;
        }
        .hill-3 {
            @extend .hill-1;
            background: #303c5d;
            top: 248px;
            left: -137px;
        }
        .hill-4 {
            @extend .hill-3;
            top: 221px;
            left: 63px;
        }
        .hill-5 {
            @extend .hill-3;
            top: 248px;
            left: 292px;
        }
        @for $i from 1 through 10 {
            .drop-big-#{$i} {
                position: absolute;
                z-index: 20;
                left: (-20 + 38 * $i) + px;
                bottom: 0px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $drop-color;
                animation: drop
                    (0.7 + random(2) / 10) +
                    s
                    linear
                    (random(50) / 25) +
                    s
                    infinite;
                animation-fill-mode: both;
                transform-origin: 50% 100%;

                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: -2px;
                    left: 1px;
                    width: 6px;
                    height: 6px;
                    background: $drop-color;
                    border-radius: 3px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: -5px;
                    left: 2px;
                    width: 4px;
                    height: 10px;
                    background: $drop-color;
                    border-radius: 50%;
                }
            }
            .drop-medium-#{$i} {
                @extend .drop-big-1;
                left: (-20 + 38 * $i) + px;
                opacity: 0.6;
                width: 6px;
                height: 6px;
                animation: drop
                    (1.3 + random(2) / 10) +
                    s
                    linear
                    (random(50) / 25) +
                    s
                    infinite;
                animation-fill-mode: both;

                &:before {
                    top: -2px;
                    left: 1px;
                    width: 4px;
                    height: 4px;
                }

                &:after {
                    top: -4px;
                    left: 2px;
                    width: 2px;
                    height: 6px;
                }
            }

            .drop-small-#{$i} {
                @extend .drop-big-1;
                left: (-20 + 38 * $i) + px;
                opacity: 0.3;
                width: 4px;
                height: 4px;
                animation: drop
                    (1.9 + random(2) / 10) +
                    s
                    linear
                    (random(50) / 25) +
                    s
                    infinite;
                animation-fill-mode: both;

                &:before {
                    top: -2px;
                    left: 1px;
                    width: 2px;
                    height: 2px;
                }

                &:after {
                    top: -3px;
                    left: 1px;
                    width: 2px;
                    height: 4px;
                }
            }
        }
    }
    .detail {
        flex: 0 0 20%;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .temperature {
            font-size: 45px;
            line-height: 80px;
        }
        .info {
            font-size: 15px;
            line-height: 20px;
            font-weight: 300;
        }
        .past {
            font-weight: 400;
            text-align: right;
            font-size: 15px;
            line-height: 20px;
            td {
                &:first-child {
                    font-weight: 300;
                }
            }
        }
    }
}

@keyframes moon-rise {
    from {
        transform: translate(-20px, 200px);
    }
    to {
        transform: translate(0, 0px);
    }
}

@keyframes drop {
    0% {
        transform: translate3d(40px, -320px, 0) scaleX(1) scaleY(1)
            rotate(17deg);
    }
    85% {
        transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(17deg);
    }
    100% {
        transform: translate3d(0, 0, 0) scaleX(3) scaleY(0) rotate(0deg);
    }
}
