.walkingboots_container {
    position: relative;
    height: 100%;
    width: 100%;
    /* background: red; */
    /* background: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%); */
    background: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%);
    .invisible-man {
        animation: fade-in 0.8s ease-in-out 1s;
        animation-fill-mode: both;
        .leg {
            position: absolute;
            top: 0px;
            left: 147px;
            width: 151px;
            height: 260px;
            transform-origin: 50% 0;
        }

        .shoe {
            position: absolute;
            width: 151px;
            height: 128px;
            left: 0;
            bottom: 0;
            background: url("https://100dayscss.com/codepen/doc-martens.svg")
                center center no-repeat;
            transform-origin: 0 95%;
        }
        .left {
            animation: leg-swing 2s ease-in-out infinite;
            .shoe {
                animation: shoe-turn 2s ease-in-out infinite;
            }
        }
        .right {
            animation: leg-swing 2s ease-in-out 1s infinite;
            .shoe {
                animation: shoe-turn 2s ease-in-out 1s infinite;
            }
        }
    }
    .floor {
        position: absolute;
        top: 260px;
        background: #232323;
        width: 100%;
        height: 140px;
    }
}

@keyframes shoe-turn {
    0%,
    100% {
        transform: rotate(-10deg) translateY(-5px) translateX(10px);
    }
    25% {
        transform: rotate(0deg) translateY(0px) translateX(0);
    }
    50% {
        transform: rotate(10deg) translateY(-10px) translateX(10px);
    }
    75% {
        transform: rotate(0deg) translateY(-30px) translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes leg-swing {
    0%,
    100% {
        transform: rotate(-22deg);
    }
    50% {
        transform: rotate(40deg);
    }
}
