.watch_container {
    background: #4c4c4c;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    .watch {
        position: relative;
        margin: 50% 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #000;
        border: 8px solid #3a3a3a;
        text-align: center;
        .spin {
            position: absolute;
            height: 180px;
            width: 180px;
            border-radius: 50%;
            border: 4px solid palevioletred;
            margin: 50% 50%;
            transform: translate(-50%, -50%);
            background: #000;
        }
        .indexes {
            position: absolute;
            width: 170px;
            height: 170px;
            border-radius: 50%;
            border-style: dashed;
            border-image: repeating-conic-gradient
                (from 0deg, palevioletred 0deg 10deg, transparent 10deg 30deg) 1;
            border-color: #fff;
            margin: 50% 50%;
            transform: translate(-50%, -50%);
        }
        .date {
            position: absolute;
            top: 68px;
            width: 100%;
        }
        .time {
            position: absolute;
            top: 80px;
            width: 100%;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            margin: 4px 0;
        }
        .beat {
            position: absolute;
            top: 129px;
            left: 57px;
            .span {
                color: #f85b5b;
                font-size: 10px;
                float: left;
                margin-top: 1px;
                margin-right: 4px;
                &:before {
                    content: "\f004";
                }
            }
        }
        .energy {
            position: absolute;
            top: 129px;
            right: 55px;
        }
    }
}
