.loading_item {
    background: #e56262;
    --loading-bezier: cubic-bezier(0.21, 0.98, 0.6, 0.99);
    position: relative;
}
.dot1 {
    z-index: 1;
    height: 100px;
    width: 100px;
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    border-radius: 50%;
    background: #fff;
    animation-fill-mode: both;
    animation: dot1-animation 2s var(--loading-bezier) infinite alternate;
}

.dot2 {
    z-index: 2;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #fff;
    animation-fill-mode: both;
    animation: dot2-animation 2s var(--loading-bezier) infinite alternate;
}

.dot3 {
    z-index: 3;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    animation-fill-mode: both;
    animation: dot3-animation 2s var(--loading-bezier) infinite alternate;
}

@keyframes dot1-animation {
    0%,
    20% {
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    }
}

@keyframes dot2-animation {
    0%,
    50% {
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    }
}

@keyframes dot3-animation {
    0%,
    70% {
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    }
}
