.pyramide_item {
    background-color: black;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.49, 1);
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /*background: linear-gradient(blue 70%, green 30%);*/
    background-color: #fff;
    clip-path: circle(100px at 100px 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    background: #7ddffc;
    height: 136px;
    width: 200px;
    animation: sky-turns-black 4s var(--cubic-bezier) infinite;
}

.ground {
    position: absolute;
    top: 136px;
    left: 0;
    height: 64px;
    width: 200px;
    background: #f0de75;
    animation: fading-sand 4s var(--cubic-bezier) infinite;
}

.sun {
    position: absolute;
    z-index: 2;
    top: 7px;
    left: 80px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffef00;
    transform-origin: 50% 400%;
    animation: sun-goes-down 4s var(--cubic-bezier) infinite;
}

.left-side {
    position: absolute;
    top: 74px;
    left: 43px;
    height: 64px;
    width: 124px;
    background: #f4f4f4;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    animation: pyramide-shading 4s var(--cubic-bezier) infinite;
}
.right-side {
    position: absolute;
    top: 74px;
    left: 105px;
    height: 64px;
    width: 64px;
    background: #dddada;
    clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
    animation: pyramide-shading 4s var(--cubic-bezier) infinite reverse;
}

.shadow {
    position: absolute;
    z-index: 2;
    top: 136px;
    left: -80px;
    height: 40px;
    width: 400px;
    background: rgba(0, 0, 0, 0.2);
    transform-origin: 50% 0%;
    clip-path: polygon(123px 0%, 247px 0%, 80% 100%);
    animation: shadow-on-the-floor 4s var(--cubic-bezier) infinite;
}

@keyframes sky-turns-black {
    0% {
        background: #272c34;
    }

    30% {
        background: #7ddffc;
    }

    70% {
        background: #7ddffc;
    }

    100% {
        background: #272c34;
    }
}
@keyframes fading-sand {
    0% {
        background: #272c34;
    }

    30% {
        background: #f0de75;
    }

    70% {
        background: #f0de75;
    }

    100% {
        background: #272c34;
    }
}

@keyframes pyramide-shading {
    0% {
        background: #272c34;
    }

    30% {
        background: #f4f4f4;
    }

    70% {
        background: #dddada;
    }

    100% {
        background: #272c34;
    }
}

@keyframes sun-goes-down {
    0% {
        background: #f57209;
        transform: rotate(-75deg);
    }
    30% {
        background: #ffef00;
        transform: rotate(-28deg);
    }
    70% {
        background: #ffef00;
    }
    100% {
        background: #f57209;
        transform: rotate(80deg);
    }
}
@keyframes shadow-on-the-floor {
    0% {
        transform: scaleY(0);
        clip-path: polygon(123px 0%, 247px 0%, 100% 100%);
    }

    30% {
        transform: scaleY(1);
        clip-path: polygon(123px 0%, 247px 0%, 80% 100%);
    }

    55% {
        transform: scaleY(0.4);
    }

    75% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
        clip-path: polygon(123px 0%, 247px 0%, 0% 100%);
    }
}
