@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
.statistic {
    background: #42a7a1;
    --red: #fa7373;
    --blue: #7ba2ff;
}

.statistic_container {
    font-family: "Open Sans", Helvetica, sans-serif;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 220px;
    overflow: hidden;
    background: #fff;
    .header {
        background: #f1ba64;
        height: 60px;
        width: 280px;
        position: relative;
        color: #fff;
        .big {
            position: absolute;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
        }
        .small {
            position: absolute;
            font-weight: 400;
            font-size: 11px;
        }
        .title {
            top: 12px;
            left: 15px;
        }

        .date {
            top: 30px;
            left: 15px;
        }

        .type {
            top: 14px;
            right: 15px;
        }

        .value {
            top: 28px;
            right: 15px;
        }
    }
    .parameter {
        text-align: right;
        padding: 10px 0 14px 0;
        span::before {
            position: absolute;
            top: 6px;
            left: 6px;
            content: "";
            width: 11px;
            height: 3px;
            border-radius: 3px;
            /*display: block;*/
        }
        span {
            position: relative;
            font-size: 9px;
            color: #606060;
            line-height: 13px;
            padding: 0 10px 0 25px;
        }
        .red::before {
            background: var(--red);
        }

        .blue::before {
            background: var(--blue);
        }
    }
    .chart {
        position: relative;
        height: 81px;
        width: 260px;
        margin: 0 auto;
        .line1 {
            position: absolute;
            height: 1px;
            top: 0;
            left: 0;
            right: 0;
            background: #f2f2f2;
        }

        .line2 {
            position: absolute;
            height: 1px;
            background: #f2f2f2;
            top: 40px;
            right: 0;
            left: 0;
        }

        .line3 {
            position: absolute;
            height: 1px;
            /*top: inherit;*/
            left: 0;
            right: 0;
            bottom: 0;
            background: #f2f2f2;
        }
        .data {
            svg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            polyline {
                fill: none;
                stroke-width: 2;
                stroke-linecap: round;
            }
            &.red polyline {
                stroke: var(--red);
            }

            &.blue polyline {
                stroke: var(--blue);
            }

            .tooltip {
                position: absolute;
                bottom: 13px;
                left: 50%;
                font-weight: 600;
                font-size: 11px;
                line-height: 11px;
                transform: translate3d(-50%, 10px, 0);
                color: #fff;
                padding: 8px 6px;
                border-radius: 3px;
                visibility: hidden;
                opacity: 0;
                transition:
                    transform 0.4s ease-out 0s,
                    opacity 0.4s ease-out 0s;
            }
            [class^="point-"] {
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                cursor: pointer;
                z-index: 10;

                &:hover .tooltip {
                    visibility: visible;
                    opacity: 1;
                    transform: translate3d(-50%, 0, 0);
                }
            }
            &.red {
                [class^="point-"],
                .tooltip {
                    background: var(--red);
                }

                .point-1 {
                    left: 7px;
                    top: 43px;
                }
                .point-2 {
                    left: 48px;
                    top: 9px;
                }
                .point-3 {
                    left: 88px;
                    top: 20px;
                }
                .point-4 {
                    left: 128px;
                    top: 8px;
                }
                .point-5 {
                    left: 169px;
                    top: 35px;
                }
                .point-6 {
                    left: 209px;
                    top: 45px;
                }
                .point-7 {
                    left: 249px;
                    top: 16px;
                }
            }

            &.blue {
                [class^="point-"],
                .tooltip {
                    background: var(--blue);
                }

                .point-1 {
                    left: 7px;
                    top: 58px;
                }
                .point-2 {
                    left: 48px;
                    top: 47px;
                }
                .point-3 {
                    left: 88px;
                    top: 62px;
                }
                .point-4 {
                    left: 128px;
                    top: 52px;
                }
                .point-5 {
                    left: 169px;
                    top: 58px;
                }
                .point-6 {
                    left: 209px;
                    top: 71px;
                }
                .point-7 {
                    left: 249px;
                    top: 61px;
                }
            }
        }
    }

    .days {
        width: 280px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .day {
            font-size: 9px;
            color: #949494;
            line-height: 30px;
            text-transform: uppercase;
        }
    }
}
